* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

body{
  background-color: black;
  list-style: none;
}
div.uk-fkex{
  margin-bottom: 20px;
}

header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div.busqueda{
  position: relative;
    top: -12px;
    margin-right: 2%;
}


header div.busqueda input{
  border-radius: 10px;
}

nav{
width: 60%
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0;
}

nav ul a{
  width: 15%;
}

div.header{
  width: 10%;
  margin: 1%;

}
div.logoTMDB {
  width: 10%;
  margin: 1%
}


div.uk-position-relative{
  display: flex;
}

footer{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}


div.integrantes{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%
}

footer div.integrantes p{
  margin: 20px 0 20px 0;
}

footer div.integrantes a {
  text-decoration: none;

}

main {
  margin-bottom: 20px;
}

/* PAGINA DE INCIO */

h1.titulosincio{
  background-color: black;
  margin: 20px;
  font-size: 2em;
  display: inline-block;
  
}

a.uk-icon{
  padding: 10px;
  color: white;
  height: fit-content;
}

nav ul button.uk-button {
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  line-height: normal;
  font-size: 13px;
  border: none;
}

div.uk-first-column {
  width: 100%;
}

ul.uk-nav li{
  margin-right: 1em;
  color: black;
}

ul.uk-nav li a{
  color: black;
}

svg {
  margin: 0px 5px;
}

a.arriba {
  width: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

a.abajo {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0px;
}

h1.titulosincio{
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

form input {
  height: 3em;
  width: 90%;
  border-radius: 10px;
  font-size: 13px;
  background: black;
  text-align: center;
  color: white;
  margin-right: 1px;
  border: 1px solid white;
}


form.buscador {
  margin-right: 40px;
}

input.botonbuscador {
  display: none;
}

label.search-icon {
  position: relative;
  margin-right: 1em;
}

label.search-icon:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  background: url(../search-icon.jpg) center / contain no-repeat;
}

label.search-icon input {
  padding: 10px 30px;
}

main div ul {
  width: 70%;
}

/* PAGINA DE DETALLE */

div.series_recomendadas {
  display: none;
}

div.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
    margin-top: 20px;
}

div.container_detalle_serie{
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
div.container_detalle_serie div {
  margin: 10px
}

div.poster_serie{
  width: 40vw;
}

div.poster_serie img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

div.titulo_serie{
  font-weight: bold;
  font-size: 3em;
}

button.favoritos {
  height: 60px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  background-color: black;
  border: solid 1px white;
  color: white;
}

button.favoritos:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

div.trailer_serie{
  margin-top: 10px;

}

button#boton_recomendaciones{
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 40%;
  background-color: black;
  border: solid  1px white;
  color: white;
  display: block;
  margin: 20px auto;
}

button#boton_recomendaciones:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
div.genero_serie{
  font-style: italic;
}

/* PAGINA DE SERIES POR GENEROS */

div#nombreDelGenero{

  font-size:30px;
  background-color: black;

color: white;
display: flex;
  align-items: center;
  justify-content: center;
}


/* PAGINA DE RESULTADOS */

h1#lo_buscado {
  font-weight: normal;
  font-size:40px;
  background-color: black;
  margin-top: 10px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;

}
/* PAGINA DE BUSCADOR */
/* PAGINA DE BUSCADOR AVANZADO */
.uk-form-stacked {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  align-content: center;
  margin-left: 10px;
}

form div {
  width: 23vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main form div select {
  border-radius: 10px;
  background: black;
  color: white;
  text-align: center;
}

main form.uk-form-stacked {
  height: 45vh;
}

main form div h1 {
  font-size: 2em;
}

select.generoaño{
  height: 25px;
  width: 80px;

}

select.generoorden{
  height: 25px;
}

select.generodescartado{
height: 25px;

}

select.generoelegido{
height: 25px;


}

button.buscadoravanzado{
  width: 350px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 30px;
  height: 40px;
  border-radius: 10px;
  font-size: 17px;
  background:black;
  color: white;
  border: 1px solid white;
}

button.buscadoravanzado:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
<<<<<<< Updated upstream
s
=======

>>>>>>> Stashed changes


/* PAGINA DE FAVORITOS */

ul#seriesFavoritas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

ul#seriesFavoritas li {
  width: 25%;
  text-decoration: none;
}


/* PAGINA DE FAVORITOS */

h1#muestraseriesfavoritas{
  background-color: black;
  color: white;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}






/*RESPONSIVE*/

@media (max-width:480px) {
  div.container_detalle_serie{
    width: 100%;
  }

  div.poster_serie{
    width: 90vw;
    margin-top: 10px;
  }

  div.contenedor{
    flex-direction: row;
    width: 100vw;
    margin: 0 auto;
  }
   div.trailer_serie{
     display: none;
   }
=======
@media (max-width:480px) {
>>>>>>> Stashed changes
div.container_detalle_serie{
  width: 100vw;
}

div.poster_serie{
  width: 90vw;
  margin-top: 10px;
}

div.contenedor{
  flex-direction: row;
  width: 100vw;
  margin: 0 auto;

}

div.trailer_serie{
  display: none;
}

